/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; background-image: url('assets/background.jpg')}
.ngx-material-timepicker-toggle[_ngcontent-c3] {
    display: inline !important;
    padding: 0px !important;
    vertical-align: middle !important;
}
.toggle-example {
    border-bottom: 1px solid #949494;
    display: inline-block;
}
.toggle-example input {
    border: none;
}

.mat-slide-toggle-thumb {
    background-color: red;
}
.mat-slide-toggle-bar {
    background-color: #ff000078;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: green !important;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #00800094;
}
